.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}





.parent {
    width: 100%;
    overflow: auto;
}

.siding {
    float: left;
    background: blueviolet;
    width: 20%;
    height: 100vh;
}

.Content{
    float: right;
    background: yellow;
    width: 80%;
    height: 100vh;
}